{block menu}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
						{foreach $navig as $category}
						<li class="{first}active{/first}" ><a  href="#">{_ $category->name}</a></li>
						{/foreach}
			</ul>
		</div>
	</div>
</div>
{/block}
