{* Dynamic title for selected category *}
{block title}{$category->name}{/block}

{block content}

{control pagination}

	<h1>{$category->name}</h1>
	{foreach $products as $product}
		{first 4}<div class="row">{/first}
			<div class="span3">
				<h2><a href="#">{$product->name}</a></h2>
				<p>{$product->description}</p>
			</div>
		{last 4}</div>{/last}
	{/foreach}


{/block}
