
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset #title}{include title|striptags} | {/ifset}Nette Sandbox</title>
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/admin.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">

	<script src="{$basePath}/js/libs/jquery/jquery.js"></script>
	<script src="{$basePath}/js/libs/jquery/jquery.ajaxform.js"></script>
	<script src="{$basePath}/js/libs/nette/netteForms.js"></script>
	<script src="{$basePath}/js/libs/nette/jquery.nette.js"></script>
	<script src="{$basePath}/js/components/form.js"></script>
	<script src="{$basePath}/js/main.js"></script>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>

	<div class="container">

		{* Global flash messages *}
		<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

		{include content}

	</div>

	{block scripts}
	{/block}
</body>
</html>
