
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset #title}{include title|striptags} | {/ifset}{$storeName}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap-responsive.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/default.css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/custom.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<script src="{$basePath}/js/libs/jquery/jquery.js"></script>
	<script src="{$basePath}/js/libs/jquery/jquery.ajaxform.js"></script>
	<script src="{$basePath}/js/libs/nette/netteForms.js"></script>
	<script src="{$basePath}/js/libs/nette/jquery.nette.js"></script>
	<script src="{$basePath}/js/components/form.js"></script>
	<script src="{$basePath}/js/main.js"></script>

	{block head}{/block}
</head>

<body>

	<div class="container">

		{* Main navigation *}
		{include "$tplFrontDir/block/menu.latte"}

		{* Global flash messages *}
		<div n:foreach="$flashes as $flash" class="alert {$flash->type} fade in">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{$flash->message}
		</div>

		{* Main content*}
		{include content}

		{block scripts}
		{/block}

	</div>
</body>
</html>
