{block title}{$product->name}{/block}

{block content}

{var $file = $product->getMainProductFile()}

<div class="row">
	<div class="span4">
		<img src="{$file->id|showFile,$file->filename,$presenter,$width, $height}" alt="" />
	</div>
	<div class="span8">
		<h1>{$product->name}</h1>
		{snippet orderFormSnippet}
		{control orderForm}
		{/snippet}
	</div>
</div>

{/block}